<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="car" class="com.stackninjas.Car">
        <property name="battery" ref="battery"/>
        <property name="engine" ref="petrolEngine"/>
<!--        <property name="engine" ref="dieselEngine"/>-->
        <property name="tyres">
            <list>
                <ref bean="tyre1"/>
                <ref bean="tyre2"/>
                <ref bean="tyre3"/>
                <ref bean="tyre4"/>
            </list>
        </property>
    </bean>

    <bean id="car1" class="com.stackninjas.Car">
       <constructor-arg type="Battery" ref="battery"/>
        <constructor-arg type="Engine" ref="dieselEngine"/>
        <constructor-arg type="java.util.List">
            <list>
                <ref bean="tyre1"/>
                <ref bean="tyre2"/>
                <ref bean="tyre3"/>
                <ref bean="tyre4"/>
            </list>

        </constructor-arg>
    </bean>

    <bean id="battery" class="com.stackninjas.Battery"/>

    <bean id="petrolEngine" class="com.stackninjas.PetrolEngine">
        <property name="fuelPump" ref="fuelPump"/>
    </bean>
    <bean id="dieselEngine" class="com.stackninjas.DieselEngine">
        <property name="fuelPump" ref="fuelPump"/>
    </bean>

    <bean id="tyre1" class="com.stackninjas.TubeTyre"/>
    <bean id="tyre2" class="com.stackninjas.TubelessTyre"/>
    <bean id="tyre3" class="com.stackninjas.TubeTyre"/>
    <bean id="tyre4" class="com.stackninjas.TubelessTyre"/>

    <bean id="fuelPump" class="com.stackninjas.FuelPump"/>

</beans>